doctype html
html
  form(action="/registinfo" method="GET")
    label(for="fieldName") path: 
    input(type="text" id="path" name="path")
    label(for="fieldEmail") port: 
    input(type="text" id="port" name="port")
    input(type="submit" value="add")

